.main{
   width:100%;
   height:100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.511);
    width: 455px;
    height: 655px;
}
.avtar{
    width: 175px;
    height: 175px;
    background-color: black;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}